/*Fondo*/
body {
  background-image: url(https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif);
}

/*Estilos del header*/
header {
  right: 0%;
  width: 100%;
  background-color: black;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
}
#Logo {
  height: 70px;
  position: fixed;
  left: 25px;
  top: 4px;
  margin: 0;
  width: 70px;
}

h1 {
  font-style: normal;
  font-size: 45px;
  position: fixed;
  left: 10%;
  color: #b7d8eb;
  -webkit-text-stroke: 0.7px #65a351;
}
/*Estilo del main*/
input {
  background: transparent;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(12, 189, 36);
  border: transparent;
  margin-right: 10px;
  height: 30px;
  width: 280px;
  color: #65a351;
  padding-left:10px;
}
#searchSpace {
  position: fixed;
  right: 50px;
  top: 20px;
 }
#buttonSearch {
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(12, 189, 36);
  font-size: smaller;
  font-family: "Creepster", cursive;
  color: #b7d8eb;
  -webkit-text-stroke: 0.7px #65a351;
}
.characterStyle {
  display: flex;
  flex-wrap: wrap;
  padding-top: 85px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 10px;
  padding-bottom: 50px;
}

.oneCharacter {
  border-radius: 35px;
  box-shadow: 0 0 18px rgb(12, 189, 36);
  margin: 20px;
  width: 230px;
  text-align: center;
  background-color: black;
}

img {
  border-radius: 25px;
  width: 195px;
  height: 230px;
  margin: 15px;
}

h2 {
  font-size: 20px;
  margin: 15px;
  color: #b7d8eb;
  -webkit-text-stroke: 0.1px #65a351;
}
p {
  font-family: "Almarai", sans-serif;
  color: white;
  font-size: 15px;
}
h2,
p {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
h1,
h2 {
  font-family: "Creepster", cursive;
}

/*Estilo de iconos*/
.icons {
  width: 36px;
  height: 36px;
  position: fixed;
  right: 20px;
}
#iconPlay {
  top: 50%;
}
#IconGithub {
  top: 40%;
}

/*Estilos barra lateral*/
.sidebar {
  position: fixed;
  top: 25%;
  left: 55px;
}
.filter {
  padding-top: 30px;
  position: fixed;
  top: 40%;
  left: 55px;
}

.sort {
  font-size: medium;
}
/*Estilos de Boton*/
button {
  font-size: large;
  color: white;
  background: transparent;
  border: 0px;
  padding: 5px;
}
button:hover {
  color: #65a351;
  font-weight: bold;
}
#All {
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(12, 189, 36);
  position: fixed;
  left: 70px;
  margin-top: 15px;
}
/*Estilos del Footer*/
footer {
  background-color: black;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  align-items: center;
  height: 45px;
}
.footerStyleText {
  padding-inline: 26px;
  font-family: "Almarai", sans-serif;
  color: #b7d8eb;
  font-size: large;
  margin-top: 15px;
}
#textSmallFooter {
  font-size: 15px;
  margin-top: 15px;
}
